<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset the password</title>
</head>
<body>

    <form method="post" id="resetForm">
        <input type="password" name="currentPassword" id="currentPassword" required placeholder="Your password">
        <input type="password" name="newPassword" id="newPassword" required placeholder="Your new password">
        <input type="password" name="confirmNewPassword" id="confirmPassword" required placeholder="Confirm the password">

        <button>SEND</button>
    </form>
    
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let resetForm = document.getElementById("resetForm");

            resetForm.addEventListener("submit", async (e) => {
                e.preventDefault();
                const formData = new FormData(e.target)

                try {

                    const fetchResetPassword = await fetch("http://127.0.0.1:8000/reset/password", {
                        method: "POST",
                        body: formData
                    })

                    const status = fetchResetPassword.status
                    const message = await fetchResetPassword.text()
                    alert(`Status: ${status} Message: ${message}`);

                    if (status === 200 && message === "VALID") {
                        alert("SUCCESS");
                    } else {
                        alert("ERROR");
                    }

                } catch(error) {
                    console.error("ERROR: ", error)
                    alert("SOME ERROR")
                };
            });
        });
    </script>
</body>
</html>