<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    
    <div class="">
        <h2>Reset Password</h2>

        <form id="resetForm">
            <input type="hidden" name="token" value="{{.Token}}">
    
            <label>New password</label>
            <input type="password" name="newPassword" id="" required>

            <label>Confirm password</label>
            <input type="password" name="confirmPassword" id="" required>


            <button type="submit" id="button">Reset</button>

            <div id="message" class="message"></div>
        </form>
    </div>

    <script>
        const form = document.getElementById("resetForm");
        const button = document.getElementById("button");
        const message = document.getElementById("message");

        form.addEventListener("submit", async (e) => {
            e.preventDefault();

            const formData = new FormData(e.target);
            const data = Object.fromEntries(formData.entries());

            button.disabled = true;
            try {

                const res = await fetch("http://127.0.0.1:8000/reset/password", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    credentials: "include",
                    body: JSON.stringify(data),
                });

                const status = res.status
                const message = await res.text();
                alert(`Status: ${status} Message: ${message}`);

                if (res === 200) {
                    alert("success")
                } else {
                    alert("some error")
                }

            } catch (err) {
                alert("ERROR")
                console.error("error: ", err)
            } finally {
                button.disabled = false;
            };

        });

    </script>
</body>
</html>