<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    
    <div class="">
        <h2>Reset Password</h2>

        <form id="resetForm">
            <label>Current password</label>
            <input type="password" name="currentPassword" id="" required>

            <label>New password</label>
            <input type="password" name="newPassword" id="" required>

            <label>Confirm password</label>
            <input type="password" name="confirmPassword" id="" required>


            <button type="submit" id="button">Reset</button>

            <div id="message" class="message"></div>
        </form>
    </div>

    <script>
        const form = document.getElementById("resetForm");
        const button = document.getElementById("button");
        const message = document.getElementById("message");

        function showMessage(text, type) {
            message.textContent = text;
            message.className = "message" = type;
        };

        form.addEventListener("click", async (e) => {
            e.preventDefault();

            const data = new FormData(form);
            const current = data.get("currentPassword");
            const newPassword = data.get("newPassword");
            const confirm = data.get("confirmPassword");

            if (newPassword !== confirm) {
                showMessage("Password do not match", "error");
                return;
            }

            button.disabled = true;
            try {

                const res = await fetch("http:/127.0.0.1:8000/reset/password", {
                    method: "POST",
                    body: new URLSearchParams(data)
                });

                const text = await res.text();

                if (res.ok) {
                    showMessage("Password updated successfully", "success")
                } else {
                    showMessage(text || "Error resetting password", "error")
                }

            } catch (err) {
                showMessage("Network error", "error")
            } finally {
                button.disabled = false;
            };

        });

    </script>
</body>
</html>